select {
  display: block;
  cursor: pointer;
  border: none;
  background-color: unset;
}

input {
  margin: unset;
  padding: unset;
  border: none;
  background-color: unset;
}

button {
  cursor: pointer;
  padding: unset;
  border: none;
  background-color: unset;
}

input:focus {
  outline: none;
}

a {
  color: unset;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

table {
  border-collapse: collapse;
}

th,
td {
  padding: unset;
}

body {
  display: flex;
  flex-direction: column;
  user-select: none;
  min-height: 100vh;
  margin: 0;
}

/* convenience */
.hidden {
  display: none;
}

td.centered {
  text-align: center;
}

@font-face {
  font-family: "firasans-medium";
  font-style: normal;
  font-weight: normal;
  src: url(shared/components/FiraSans-Medium.woff2) format("woff2");
}

@font-face {
  font-family: "firasans-light";
  font-style: lighter;
  font-weight: lighter;
  src: url(shared/components/FiraSans-Light.woff2) format("woff2");
}

:root {
  --canvas-color: rgb(255, 255, 255);
  --canvas-text-color: rgb(0, 0, 0);
  --canvas-highlight-color: rgb(240, 240, 240);

  --primary-color: rgb(245, 247, 251);
  --primary-text-color: rgb(0, 0, 0);

  --accent-color: rgb(71, 106, 245);

  --border-color: #ddd;
}

.header {
  display: flex;
  justify-content: space-between;
  height: 48px;
  padding: 0 12px;
  border-bottom: 1px solid var(--border-color);
  background-color: var(--canvas-color);
  gap: 12px;
}

.header__side {
  display: flex;
  align-items: center;
}

.header__side--left {
  flex: 1 1;
  min-width: 0;
}

.header__logo {
  margin-right: 12px;
  color: var(--canvas-text-color);
  font-family: "firasans-medium";
  font-size: x-large;
}

.header__path {
  position: relative;
  display: flex;
  flex: 1 1;
  min-width: 60px;
  /* padding: 2px; */
  /* border: 1.4px solid var(--border-color); */
  border-radius: 8px;
}

.header__path--preview {
  display: flex;
  align-items: center;
  gap: 4px;
}

.header__path--dir {
  height: 28px;
  padding: 0 4px;
  color: var(--accent-color);
  font-family: "firasans-medium";
  font-size: small;
}

.header__path--dir:hover {
  text-decoration: underline;
}

.header__path__input {
  /* position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); */
  flex: 1 1;
  min-width: 0;
  max-width: 600px;
  height: 28px;
  padding: 0 8px;
  border: 2px solid var(--border-color);
  background-color: var(--primary-color);
  color: var(--accent-color);
  font-family: "firasans-medium";
  font-size: medium;
  text-overflow: ellipsis;
  border-radius: 8px;
}

.header__path__input:hover:not(:focus) {
  background-color: var(--canvas-highlight-color);
}

.header__search,
.header__settings {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 44px;
  aspect-ratio: 1 / 1;
}

.header__search--icon,
.header__settings--icon {
  z-index: 1;
  height: 32px;
  color: var(--accent-color);
  aspect-ratio: 1 / 1;
}

.header__search--highlight,
.header__settings--highlight {
  position: absolute;
  top: 50%;
  left: 50%;
  height: 44px;
  background-color: var(--canvas-highlight-color);
  transform: translate(-50%, -50%);
  aspect-ratio: 1 / 1;
  border-radius: 46%;
}

.header__search:not(:hover) > .header__search--highlight,
.header__settings:not(:hover) > .header__settings--highlight {
  display: none;
}

.main {
  display: flex;
  flex: 1;
}

.sidebar {
  display: flex;
  flex-direction: column;
  min-width: 160px;
  border-right: 1px solid var(--border-color);
  background-color: var(--canvas-color);
}

.sidebar__quickmenu {
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid var(--border-color);
}

.sidebar__quickmenu__header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 32px;
  background-color: var(--primary-color);
  color: var(--primary-text-color);
  font-family: "firasans-medium";
  font-size: large;
}

.sidebar__quickmenu__item {
  display: flex;
  align-items: center;
  padding-left: 8px;
  height: 28px;
  font-family: "firasans-light";
  cursor: pointer;
}

.sidebar__quickmenu__item:hover {
  background-color: var(--canvas-highlight-color);
}

.browser {
  flex: 1;
  background-color: var(--canvas-color);
}

.browser__view {
  width: 100%;
  background-color: var(--canvas-color);
}

.browser__view td,
.browser__view th {
  padding: 0 4px;
    white-space: nowrap;
}

.browser__header {
  height: 32px;
  background-color: var(--primary-color);
  color: var(--primary-text-color);
}

.browser__main {
  height: fit-content;
}

.browser__entry {
  height: 28px;
  background-color: var(--canvas-color);
  color: var(--canvas-text-color);
}

.browser__entry:hover {
  background-color: var(--canvas-highlight-color);
}

.browser__entry__name {
  width: 100%;
  box-sizing: border-box;
  color: var(--canvas-text-color);
}

.footer {
  height: 18px;
  border-top: 1px solid var(--border-color);
  background-color: var(--primary-color);
  color: var(--primary-text-color);
}
